/* Reset body margin */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* Top color strip */
.top-bar {
  background-color: #1d428a;
  height: 16px;
}

/* Navbar styling */
.main-navbar {
  padding-top: 2.5rem;
  font-size: 1.5rem;

  font-weight: 600;
  display: flex;
  justify-content: center;
}

.logo {
  height: 60px;
  width: auto;
}

.top-bar {
  background-color: #1d428a;
  /* dark blue bar */
  height: 16px;
}

/* Hero Image Wrapper */
.hero-image-wrapper {
  margin: 0;
  padding: 0;
}

/* Hero Text Styling */
.hero-text {
  background: linear-gradient(to bottom, #68c8ff 0%, #ffffff 100%);
}

/* Responsive text tweaks */
@media (max-width: 767px) {
  .logo {
    height: 50px;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }
}